@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --background-color: #fff;
    --document-background-color: #fff;
    --background-backdrop: #f0f0f0;
    --text-color: #020202;
    --text-color-secondary: #3f3f3f;

    --content-width: 45rem;
    --button-transition-speed: 10ms;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1e1e1e;
        --document-background-color: #252525;
        --background-backdrop: #2e2e2e;
        --text-color: #efefef;
        --text-color-secondary: #bfbfbf;
    }
}

p {
    text-align: justify;
}

code {
    font-family: 'Cascadia Mono', monospace;
    padding: 0.08em 0.33em;
    color: var(--text-color);
    background-color: var(--background-backdrop);
}

a {
    color: var(--text-color);
    text-decoration: none;

    transition: color var(--button-transition-speed) linear;
    transition: background-color var(--button-transition-speed) linear;
}

a:hover {
    color: var(--background-color);
    background-color: var(--text-color);
}

article img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 2rem auto;
}